.enquirySection {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  min-height: 100vh;
}

.enquirySection .fa-plus {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: rgb(21, 176, 21);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.enquirySection .pageInput {
  width: 120px;
  margin-left: 10px;
}

.enquirySection .fa-plus:is(:hover, :focus) {
  background-color: rgb(15, 148, 15);
}

.enquirySection .fa-pen,
.enquirySection .fa-trash {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.enquirySection .fa-pen {
  color: green;
}

.enquirySection .fa-pen:is(:hover, :focus) {
  background-color: rgb(194, 233, 194);
}

.enquirySection .fa-trash {
  color: red;
}

.enquirySection .fa-trash:is(:hover, :focus) {
  background-color: rgb(247, 198, 198);
}

.enquirySection table tbody {
  background-color: #fff;
}

.enquirySection table tr th {
  font-weight: 500;
  min-width: 120px !important;
}
.enquirySection table tr td {
  font-size: 15px;
  min-width: 120px !important;
}

.enquirySection table tr .messageRow {
  min-width: 200px !important;
}

.enquirySection .pagination .page-item .page-link:focus {
  box-shadow: none !important;
}

.enquirySection .divider {
  width: 30%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}

.enquirySection .summaryLabel {
  font-weight: 500;
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enquirySection .fa-sort {
  cursor: pointer;
}

.enquirySection .pagination li {
  cursor: pointer;
}

.enquirySection .modal-header,
.enquirySection .modal-footer {
  background-color: #ecf0f1;
}

@media (max-width: 991px) {
  .enquirySection table .messageRow {
    min-width: 6000px !important;
  }
}

@media (max-width: 767px) {
  .enquirySection table tr th {
    font-weight: 500;
    min-width: 120px !important;
  }
  .enquirySection table tr td {
    font-size: 15px;
    min-width: 120px !important;
  }
  .enquirySection table .messageRow {
    min-width: 500px !important;
  }
}

@media (max-width: 575px) {
  .enquirySection .topHeader {
    font-size: 20px !important;
    padding: 15px 0;
  }

  .enquirySection .fa-plus {
    width: 35px;
    height: 35px;
    display: flex;
    font-size: 16px;
  }

  .enquirySection table tr th {
    font-size: 14px;
    min-width: 100px !important;
  }
  .enquirySection table tr td {
    font-size: 14px;
    min-width: 100px !important;
  }
  .enquirySection table .messageRow {
    min-width: 350px !important;
  }
}
